header {
  margin-bottom: 2vh;
  border-bottom: 1.5vh double black;
}

h1 {
  font-size: 10vh;
}

header p {
  font-size: 5vh;
}

main h2 {
  font-size: 6vh;
  margin-bottom: 2vh;
  border-bottom: 0.25vh solid black;
}

main h3 {
  font-size: 5vh;
  margin-bottom: 2vh;
  text-decoration: underline;
}

form {
  font-size: 3.5vh;
  padding: 1vh;
  margin-bottom: 1.5vh;
  border: 0.25vh dashed black;
}

li h4 {
  font-size: 4vh;
}

li h5 {
  font-size: 3.5vh;
}

li p {
  font-size: 3.5vh;
}