<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Songr Albums</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" type="text/css" href="css/theme.css">
</head>
<body>
    <header th:replace="fragments/fragments :: header"></header>
    <main>
        <h3>Add an Album to the Collection</h3>
        <h2>All The Albums</h2>
        <form action="/albums" method="POST">
            <label>Title:<input type="text" name="title" required></label>
            <label>Artist:<input type="text" name="artist" required></label>
            <label>Song Count:<input type="number" name="songCount" required></label>
            <label>Length:<input type="number" name="length" required></label>
            <label>Image URL:<input type="text" name="imageUrl" required></label>
            <input type="submit" name="submit">
        </form>
        <ul>
            <li th:each="album : ${albums}">
                <h4 th:text="'Album Title: ' + ${album.title}"></h4>
                <h5 th:text="'Artist ' + ${album.artist}"></h5>
                <p th:text="'Number of Songs: ' + ${album.songCount}"></p>
                <p th:text="'Album Length: ' + ${album.length} + ' seconds'"></p>
                <img th:alt="${album.title}" th:src="${album.imageUrl}">
            </li>
        </ul>
    </main>
    <footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>